td {
    border: 1px solid #dbdbdb;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: beige;
}

td:hover {
    background-color: rgb(158, 158, 80);
  }

  .red {
      background-color: red;
  }

  .yellow{
      background-color: yellow;
  }