td {
    text-align: center;
    background-color: beige;
}

td:hover {
    background-color: rgb(158, 158, 80);
  }

  .red {
      background-color: red;
  }

  .yellow{
      background-color: yellow;
  }

  .beige {
    background-color: beige;
  }
  
  .table{
      margin: auto;
  }

  td{
      text-align: center;
  }