#app .navbar{
    background-color: rgb(209, 209, 209);
    top: 1;
}

 .warning-test{
    background-color: rgb(255, 216, 42);
    color: rgb(0, 0, 0);
    z-index: 31;
    height: 25px;
    padding: 3px;
    max-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.warning-test a{
    text-decoration: underline;
    font-weight: 600;
    color: blue;
}

#app input{
    height: 40px;
    border-radius: 6.2rem;
    font-size: 18px;
    border: 1px solid #dbdbdb;
    padding-left: 15px;
}
#app aside{
    position: fixed;
    z-index: 29;
}

#app .sidebar{
    background-color: #dbdbdb;
    position: relative;
    height: 100vh;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 200px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
}

#app .sidebar a{
    color: black;
}

#app .sidebar a:hover{
    background-color: #dbdbdb;
}

#app .sidebar h3{
    font-size: 24px;
    color: black;
    font-weight: 400;
    padding-top: 15px;
}

#app .inbox-notification{
    color: white;
    font-weight: 600;
    background-color: red;
    position: absolute;
    padding: 1px 2px;
    border-radius: 3px;
    font-size: 12px;
}

#app .columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#app .cooler-link-target{
    display: block;
  margin-top: 100px;
  height: 100px;
}

#app .center-table{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
}

#app .widetable{
    flex-direction: row !important;
    align-items: start;
}

#app td{
    border: 1px solid #dbdbdb;
    text-align: center !important;
}

#app thead{
    text-align: center !important;
}

#app tfoot{
    text-align: center !important;
}

#app td:hover{
    background-color: #dbdbdb;
    cursor: pointer;
}

#app .occupied{
    background-color: #DE6645;
    color: white;
}

#app .occupied:hover{
    background-color: #c44825;
    color: white;
}

