* {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /*  */
}

/* body {
  padding: 0;
  margin: 0;
} */

td {
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: 5px solid black;
  
}

.table {
  margin: auto;
}

.table thead {
  background-color: #f48a33;
  border: 1px solid rgb(182, 181, 181) !important;

}

.table thead th {
  color: white;
  text-align: center !important;
  font-size: 25px;
}

table td{
  font-size: 25px;
  text-align: center !important;
  font-weight: bold;
  border: 1px solid rgb(182, 181, 181) !important;
}

td:hover {
  color: #f48a33
}

.red {
  background-color: red;
}

.text-color-white a {
  color: #f48a33;
  font-size: small;
}

.text-color-white {
  color: #f48a33;
}

.text-color-blue {
  color: #f48a33;
}

.menu-title-size b {
  font-size: 36px;
}

.beige {
  background-color: beige;
}


.container-background {
  background-color: rgb(245, 245, 245);
}

.box-background {
  background-color: white;
}


.dry-cooler{ 
  margin-top: 50px;
}

/* =======================
      HOME PAGE
======================= */

h1{
  font-size: 115px;
}

h2 {
  font-size: 95px;
}

h3{
  font-size: 75px;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  margin-bottom: 5px;
}


.primary-btn {
  color: #fff;
  padding: 25px 25px;
  background-color: #f48a33;
  text-decoration: none;
  font-size: 24px;
  border: 2px solid #f48a33;
}

.primary-btn:hover{
  color: #fff;
  padding: 25px 25px;
  background-color: #154066;
  text-decoration: none;
  font-size: 24px;
  border: 2px solid #154066;
}
/* NAVBAR */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #f48a33;
  color: white;
  height: 120px;
  max-width: 100%;
}

.nav-right a{
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 26px;
}

.nav-left{ 
  font-size: 36px;
}
/* WHO WE ARE */
.about-us{
  display: flex;
  flex-direction: row;
  padding: 150px 100px;
  background-color: #fff;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-pic {
  height: 800px;
  width: 800px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
}

.about-pic img{
  height: 800px;
  width: 100%;
}

.about-us .col{
  display: flex;
  align-items: center;
  width: 50%;
}

.about-us .about-text{
  padding-left: 30px;
}



.about-text{
  width: 100%;
  padding-right: 15px;
}

.about-text{
  margin: 0;
}

.about-text p{
  font-size: 30px;
  padding-bottom: 15px;
}

/* WHAT WE DO*/
.what{

  padding: 100px 100px ;
  display: flex;
  justify-content:  center;
  flex-direction: column;
}

.what-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.what-title p{ 
  font-size: 30px;
}

.work-thumbnails{
  display: flex;
  flex-direction: row;
  margin-top: 105px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.thumbnail{
  width: 300px;
  height:100px; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thumbnail i{ 
  color: #f48a33;
}

.thumbnail p{
  text-align: center;
  font-size: 26px;
}

/*JUMBO*/

.jumbo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;;
  padding: 50px 15px 50px 15px;
}

.jumbo h2{
  padding-bottom: 40px;
}

.jumbo .primary-btn{
  border: 2px solid #f48a33;    
  background-color: #f48a33;
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:  #f48a33;
  height: 100px;
}

.footer a{
  padding: 5px 50px;
  font-size: 26px;
}


/* // X-Small devices (portrait phones, less than 576px) */
@media (min-width: 1px) and (max-width: 575px) {

  *{
    overflow-x: hidden;
  }
  h1{
      font-size: 56px;
  }

  h2{ 
      font-size: 46px;
  }

  p{
    font-size: 24px;   
  }

  .primary-btn {
      margin-top: 15px;
      padding: 10px 10px;
  }

  .primary-btn:hover {
      margin-top: 15px;
      padding: 10px 10px;
  }

  .btn-box{
      margin-top: 1px;
  }

  .nav-right{
      display: none;
  }

  /* .jumbo-text{
      width: 95%;
  } */
  .jumbo p{
      font-size: 36px;
  }

  .about-us{
      padding: 50px 0;
      height: auto;
      flex-wrap: wrap;

  }

  .about-us .col{
      width: 100%;
  }

  .about-us .col .about-pic{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .about-pic img {
    height: 400px;
    width: 100%;
  }

  .about-pic {
      height: 400px;
  }

  .about-text{
      font-size: 24px;
      width: 80%;
      padding: 0 15px 15px;
      padding-top: 15px;
  }
  .about-us .about-text {
      padding-left: 15px;
  }
  
  .what{
      padding: 50px 0px;
  }

  .what-title{
     width: 100%;
     padding-left: 10px;
     padding-bottom: 25px;
     justify-content: center;
  }

  .what-title p{
      font-size: 24px;
  }

  .work-thumbnails{
    margin-top: 0;
  }

  .thumbnail{ 
      width: 100%;
      height: 175px;
  }

  .why{
      flex-direction: column;
      padding: 50px 0 0 0px;
  }
  .why .col{ 
      padding-bottom: 5px;
      width: 100%;
  }

  .why .about-text{
      padding-bottom: 15px;
      padding-right: 0;
  }

  .testimonial-section{
      padding:15px 0;
  }

  .testimonial-title{
      padding-left: 10px;
  }
  .testimonial-section {
      padding: 50px 0px;
  }

  .testimonial{
      padding: 10px 10px;
  }

  .estimate-form{
      padding: 25px 15px;
  }

  .estimate-title{
      padding: 0;
  }

  .form{
      flex-direction: column;
      padding: 0 15px;
  }
  .form input{
      width: 100%;
      height: 50px;
  }

  .form .col-1 input{
      width: 100%;
  } 

  
  .form .col-1 {
      width: 100%;
      padding: 0;
  }

  .form .col-2{ 
      width: 100%;
      padding: 0;
  
  }
  .form .col-2 input{
      width: 100%;
  } 

  .col-btn-box{
      margin-top: 15px;
      display: flex;
      justify-content: start;
  }

  .footer{
      flex-direction: column;
      padding: 50px 25px;
      align-items: flex-start;
  }

  .footer h4{
      margin-bottom: 5px;
  }

  .footer .col{
      padding-bottom: 35px;
  }
  .footer-left{
      flex-direction: column;
  }

  .footer-left .col{
      margin-left: 0;
  }

  .footer-right{
      flex-direction: column;
      text-align: left;
  }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
  h1{
      font-size: 56px;
  }

  h2{ 
      font-size: 46px;
  }

  p{
    font-size: 24px;   
  }

  .primary-btn {
      margin-top: 15px;
      padding: 10px 10px;
  }

  .primary-btn:hover {
      margin-top: 15px;
      padding: 10px 10px;
  }

  .btn-box{
      margin-top: 1px;
  }

  .nav-right{
      display: none;
  }

  .jumbo p{
      font-size: 36px;
  }

  .about-us{
      padding: 50px 0;
      height: auto;
          flex-wrap: wrap;
  }

  .about-us .col{
      width: 100%;
  }

  .about-us .col .about-pic{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .about-pic img {
    height: 100%;
    width: 100%;
  }
  /* Change He */
  .about-pic img{
      height: 600px;
      width: 100%;
  }

  .about-text{
      font-size: 24px;
      width: 80%;
      padding: 0 15px 15px;
      padding-top: 15px;
  }
  .about-us .about-text {
      padding-left: 15px;
  }
  
  .what{
      padding: 50px 0px;
  }

  .what-title{
     width: 100%;
     padding-left: 10px;
     justify-content: center;
  }

  .what-title p{
      font-size: 24px;
  }

  .thumbnail{ 
      width: 100%;
      padding: 25px 0;
      margin: 0 0 15px 0;

  }

  .why{
      flex-direction: column;
      padding: 50px 0 0 0px;
  }
  .why .col{ 
      padding-bottom: 5px;
      width: 100%;
  }

  .why .about-text{
      padding-bottom: 15px;
      padding-right: 0;
  }

  .testimonial-section{
      padding:15px 0;
  }

  .testimonial-title{
      padding-left: 10px;
  }
  .testimonial-section {
      padding: 50px 0px;
  }

  .testimonial{
      padding: 10px 10px;
  }

  .estimate-form{
      padding: 25px 15px;
  }

  .estimate-title{
      padding: 0;
  }

  .form{
      flex-direction: column;
      padding: 0 15px;
  }
  .form input{
      width: 100%;
      height: 50px;
  }

  .form .col-1 input{
      width: 100%;
  } 

  
  .form .col-1 {
      width: 100%;
      padding: 0;
  }

  .form .col-2{ 
      width: 100%;
      padding: 0;
  
  }
  .form .col-2 input{
      width: 100%;
  } 

  .col-btn-box{
      margin-top: 15px;
      display: flex;
      justify-content: start;
  }

  .footer{
      flex-direction: column;
      padding: 50px 25px;
      align-items: flex-start;
  }

  .footer h4{
      margin-bottom: 5px;
  }

  .footer .col{
      padding-bottom: 35px;
  }
  .footer-left{
      flex-direction: column;
  }

  .footer-left .col{
      margin-left: 0;
  }

  .footer-right{
      flex-direction: column;
      text-align: left;
  }

}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  h1{
      font-size: 56px;
  }

  h2{ 
      font-size: 46px;
  }

  p{
    font-size: 24px;   
  }

  .primary-btn {
      margin-top: 15px;
      padding: 10px 10px;
  }

  .primary-btn:hover {
      margin-top: 15px;
      padding: 10px 10px;
  }

  .btn-box{
      margin-top: 1px;
  }

  .nav-right{
      display: none;
  }

  .jumbo-text{
      width: 95%;
  }
  .jumbo p{
      font-size: 36px;
  }

  .about-us{
      padding: 50px 0;
      height: auto;
  }

  .about-us .col{
      width: 100%;
  }

  .about-us .col .about-pic{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .about-pic{
      width: 100%;
      height: 800px;
  }

  .about-pic img{
      height: 600px;
      width: 100%;
  }

  .about-text{
      font-size: 24px;
      width: 80%;
      padding: 0 15px 15px;
      padding-top: 15px;
  }
  .about-us .about-text {
      padding-left: 15px;
  }
  
  .what{
      padding: 50px 0px;
  }

  .what-title{
     width: 100%;
     padding-left: 10px;
     justify-content: center;
  }

  .what-title p{
      font-size: 24px;
  }

  .thumbnail{ 
      width: 100%;
      padding: 25px 0;
      margin: 0 0 15px 0;
      flex-direction: column-reverse;
  }

  .why{
      flex-direction: column;
      padding: 50px 0 0 0px;
  }
  .why .col{ 
      padding-bottom: 5px;
      width: 100%;
  }

  .why .about-text{
      padding-bottom: 15px;
      padding-right: 0;
  }

  .testimonial-section{
      padding:15px 0;
  }

  .testimonial-title{
      padding-left: 10px;
  }
  .testimonial-section {
      padding: 50px 0px;
  }

  .testimonial{
      padding: 10px 10px;
  }

  .estimate-form{
      padding: 25px 15px;
  }

  .estimate-title{
      padding: 0;
  }

  .form{
      flex-direction: column;
      padding: 0 15px;
  }
  .form input{
      width: 100%;
      height: 50px;
  }

  .form .col-1 input{
      width: 100%;
  } 

  
  .form .col-1 {
      width: 100%;
      padding: 0;
  }

  .form .col-2{ 
      width: 100%;
      padding: 0;
  
  }
  .form .col-2 input{
      width: 100%;
  } 

  .col-btn-box{
      margin-top: 15px;
      display: flex;
      justify-content: start;
  }

  .footer{
      flex-direction: column;
      padding: 50px 25px;
      align-items: flex-start;
  }

  .footer h4{
      margin-bottom: 5px;
  }

  .footer .col{
      padding-bottom: 35px;
  }
  .footer-left{
      flex-direction: column;
  }

  .footer-left .col{
      margin-left: 0;
  }

  .footer-right{
      flex-direction: column;
      text-align: left;
  }

}