* {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
}

td {
  text-align: center;
  background-color: beige;
  border: 5px solid black;
}

.table thead {
  background-color: #3cb4e5;
}

.table thead th {
  color: white;
}
td:hover {
  background-color: rgb(158, 158, 80);
}

.red {
  background-color: red;
}

.text-color-white a {
  color: white;
  font-size: small;
}

.text-color-white {
  color: white;
}

.text-color-blue {
  color: #3cb4e5;
}

.menu-title-size b {
  font-size: 36px;
}

.beige {
  background-color: beige;
}

.table {
  margin: auto;
}

td {
  text-align: center;
}

.container-background {
  background-color: #3cb4e5;
}

.box-background {
  background-color: white;
}
