@import "./app.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* // X-Small devices (portrait phones, less than 576px) */
*{
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

h1{
    font-size: 115px;
}

h2 {
    font-size: 55px;
    font-weight: 300;
}

h3{
    font-size: 75px;
    margin: 0;
}

p{
    font-weight: 100;
}

.btn-box{
    margin-top: 30px;
}
h4 a{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #fff;
     cursor: pointer;
}

.primary-btn {
    color: #fff;
    padding: 10px 15px;
    background-color: #DE6645;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #DE6645;
    border-radius: 6.25rem;
    transition: box-shadow .3s ease;
    cursor: pointer;
}

/* .primary-btn:hover{
    color: #fff !important;
    padding: 10px 15px;
    background-color: #e27a50;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #e27a50;
   
   
} */



/* NAVBAR */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color:white;
    color: black;
    height: 80px;
}

.nav-right a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
}
.nav-right .primary-btn a{
    color: white;
}

.nav-left a{
    color: #DE6645;
    font-size: 34px;
    font-weight: 600;
}


/*//////////// HEADER SECTION //////////////////*/

.header{
    display: flex;
    flex-direction: row;
    padding: 100px 100px;
    background-color: #fff;
    justify-content: center;

}

.header .col{
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-pic img{
    height: 400px;
    width: 600px;
}

.header-text{
    width: 300px;
}

.header-text p{
    font-size: 25px;
    padding-top: 15px;
    font-weight: 100;
}

/*//////////// FEATURES SECTION //////////////////*/

.what{
    background-color: white;
    padding: 100px 100px ;
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
}

.what-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.what-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.what-title p{ 
    font-size: 30px;
    text-align: center;
    font-weight: 100;
}

.work-thumbnails{
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thumbnail{
    width: 20%;
    padding: 25px 45px;
    background-color:#fff;
    margin: 0 15px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.thumbnail i{
    color: #DE6645;
}

.thumbnail h4{
    margin: 10px 0;
}



/*//////////// CONTACT SECTION //////////////////*/

.contact-form{
    padding: 50px 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
}

.contact-title{
    text-align: center;
    font-weight: 300;
}

.contact-title p{
    font-weight: 100;
}
.contact-form p{
    font-size: 20px;
}

.contact-form a{
   
    font-size: 18px;
}
 

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;

  
}

.form label{
    font-size: 25px;
    font-weight: 100;
}
.form input{
    width: 400px;
    height: 25px;
    text-align: start;
    margin: 5px;
}

.form .col-1{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form .col-1 input{
    width: 90%;
}

.form-input{
    margin: 15px 0;
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.comment-box{
    width: 420px;
}

.comment-box input{
    height: 80px;
}

.comment-box .primary-btn{
    margin-top: 30px;
}

/*//////////// JUMBO SECTION //////////////////*/

.jumbo{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: center;
    /* background-image: url("./pexels-photo-2724748.webp"); */
    background-size: cover;
    background-position: center;
    
}

.jumbo p{
    font-size: 55px;
}


.jumbo-text{
    z-index: 2;
    width: 70%;
    margin: auto;
}

/* /////////// FOOTER SECTION //////////// */
.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;  
    padding: 50px 55px;
    background-color: #DE6645;
    color: white;
}

.footer h4{
    font-size: 26px;
}

.footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
}
.footer-left{
    display: flex;
}

.footer-left .col{
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.footer h4{
    margin-bottom: 20px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-right a{
    color: #0062be;
    font-size: 18px;
    text-decoration: underline;
}